@import 'variables';

.slider-pizza {
    margin: 10px 0 40px;
    width: 100%;
    padding: 0px calc((100% - 1280px) / 2);
    overflow: hidden;
    position: relative;
    user-select: none;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
    .slick-slider {
        width: 166%;
        height: 374px;
        margin-left: -33%;
        padding: 0 27.4%;
        overflow: hidden;
        position: relative;
        .slick-prev, .slick-next {
            z-index: 1;
            height: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 20.5%;
            z-index: 2;
            padding: 9px 53.3333px;
            pointer-events: all;
            border: none;
            transform: none;
            transition: opacity 300ms ease-out 0s;
            svg {
                opacity: 0;
                transition: opacity 150ms ease-out 0s;
                display: block;
            }
        }
        .slick-prev {
            svg {
                transform: rotate(180deg);
                margin-left: auto;
            }
        }
        .slick-next {
            right: 0;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
        }
        .slick-prev {
            left: 0;
            -webkit-box-pack: end;
            justify-content: flex-end;
            background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
        }
        .slick-prev, .slick-next {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 20px;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 150ms ease-out 0s;
                pointer-events: none;
            }
        }
        .slick-prev, .slick-next {
            &:hover::before {
                opacity: 1;
            }
        }
        .slick-next {
            &::before {
                right: 0;
                background-image: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
        .slick-prev {
            &::before {
                left: 0;
                background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
        &:hover {
            .slick-next, .slick-prev {
                svg {
                    opacity: 1;
                }
            }
        }
        .slick-list {
            overflow: visible;
            .slick-track {
                .slick-slide {
                    border-radius: 20px;
                    width: 1280px;
                    height: 374px;
                    overflow: hidden;
                    padding: 0 12px;
                    img {
                        width: 100%;
                        height: 374px;
                        cursor: pointer;
                        border-radius: 20px;
                        opacity: 0.4;
                        transition: opacity 450ms ease-out 0s, box-shadow, transform;
                    }
                }
                .slick-slide.slick-current {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.new_popular {
    &__pizzas {
        width: 100%;
        padding: 0px calc((100% - 1280px) / 2);
        overflow: hidden;
        position: relative;
        user-select: none;
        transform: translate3d(0px, 0px, 0px);
        backface-visibility: hidden;
        padding-bottom: 30px;
        h2 {
            margin: 0 0 26px;
        }
        .slick-slider {
            width: 166%;
            margin-left: -33%;
            padding: 0 33%;
            overflow: hidden;
            position: relative;
            .slick-prev, .slick-next {
                z-index: 1;
                height: 132px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                position: absolute;
                top: 9px;
                bottom: 0;
                width: 20.5%;
                z-index: 2;
                padding: 9px 53.3333px;
                pointer-events: all;
                border: none;
                transform: none;
                transition: opacity 300ms ease-out 0s;
                svg {
                    opacity: 0;
                    transition: opacity 150ms ease-out 0s;
                    display: block;
                }
            }
            .slick-prev {
                svg {
                    transform: rotate(180deg);
                    margin-left: auto;
                }
            }
            .slick-next {
                right: 0;
                background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
            }
            .slick-prev {
                left: 0;
                -webkit-box-pack: end;
                justify-content: flex-end;
                background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
            }
            .slick-prev, .slick-next {
                &::before {
                    content: '';
                    position: absolute;
                    top: 9px;
                    bottom: 20px;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 150ms ease-out 0s;
                    pointer-events: none;
                }
            }
            .slick-prev, .slick-next {
                &:hover::before {
                    opacity: 1;
                }
            }
            .slick-next {
                &::before {
                    right: 0;
                    background-image: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
                }
            }
            .slick-prev {
                &::before {
                    left: 0;
                    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
                }
            }
            &:hover {
                .slick-prev.slick-disabled {
                    svg {
                        opacity: 0;
                    }
                }
                .slick-next, .slick-prev {
                    svg {
                        opacity: 1;
                    }
                }
            }
            .slick-list {
                overflow: visible;
                margin: 9px 0 22px;
                .slick-track {
                    display: flex;
                    .slick-slide {
                        background: rgb(255, 255, 255);
                        transition: box-shadow 150ms ease-out 0s;
                        box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
                        border-radius: 12px;
                        display: flex;
                        flex: 0 0 auto;
                        cursor: pointer;
                        width: 302px !important;
                        margin-right: 24px;
                        &> div {
                            width: 100%;
                        }
                        &:hover {
                            box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
                        }
                        .offer {
                            display: flex;
                            align-items: center;
                            padding: 16px;
                            img {
                                height: 100px;
                                width: 100px;
                                margin-left: 5%;
                            }
                            .item {
                                margin-left: 8px;
                                h2 {
                                    font-size: 16px;
                                    line-height: 20px;
                                    max-height: 40px;
                                    overflow: hidden;
                                    margin: 0;
                                }
                                span {
                                    display: block;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .buttons-arrows {
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 122px;
            z-index: 3;
            .prev-click, .next-click {
                height: 34px;
                position: fixed;
            }
            .prev-click {
                left: 40px;
            } 
            .next-click {
                right: 40px;
            }
        }
    }
}